App_WebReferences/wsServicio/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getEstados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEstadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepartamentosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegistros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegistrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRegistrosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLineaLabor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horaFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSistema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLineaLaborResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearLineaLaborResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegistro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horaFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSistema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avance" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarRegistroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRegistroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSistemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSistemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSistemasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearSistemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarSistemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSistemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAcciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAccionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearAccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarAccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idU" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUnidadesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearUnidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarUnidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUnidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpleados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmpleadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>